/********************
*** Display ********
*********************/

.d-flex { display: flex;}
.d-none {display: none;}
/******************
*** Flex ********
**********************/
.no-flex-shrink {flex-shrink: 0;}
.flex-grow { flex-grow: 1;}
.flex-column { flex-direction: column;}
.flex-row { flex-direction: row;}
.flex-row-reverse { flex-direction: row-reverse;}
.flex-wrap {flex-wrap: wrap;}




/*********************
*** Align & Justify ***
***********************/
.justify-content-between { justify-content: space-between; }
.justify-content-center {justify-content: center; }
.justify-content-around {justify-content: space-around; }
.justify-content-end {justify-content: flex-end;}
.justiy-content-stretch {justify-content: stretch;}

/*************************
*** Align items center ***
**************************/
.align-items-center { align-items: center;}
.align-items-start {align-items: flex-start;}
.align-items-end {align-items: flex-end;}
