/*@media only screen and (max-width: 82.18em) {/*1315px / 16px = 68.75em */
   /* html {font-size: 50%;}
}*/

@media screen and (max-width: 68.75em) {/*1100px / 16 = 65.5em */
    .div-sticky {
        position: sticky;
        top:0;
        min-width: 100%;
        z-index: 2

    }
    
}

@media screen and (max-width: 56.25em) {/*900px / 16px = 56.25em */
    .d-flex-sm-column-nav {flex-direction: column;}
    .div-no-sticky {
        position: relative;
    }
}


@media screen and (max-width: 48.75em ) { /*780px / 16px = 48.75em */
    .display-sm-none {display: none !important;}
    .flex-order-sm {order: 2;}
    .sm-display {display: block !important;}
    .search-width {min-width: 100%;}
    .card-width {min-width: 98%;}
    .justify-content-center-sm {justify-content: center;}
    .flex-wrapper {flex-wrap: wrap;}
    .mr-sm-4 {margin-right: var(--distance-4);}
    .mb-sm-4 {margin-bottom: var(--distance-4);}
    .mb-sm-10 {margin-bottom: var(--distance-10  );}
    .mb-sm-0 {margin-bottom: var(--distance-0);}
    .mt-sm-1 {margin-top: var(--distance-1)}
    .img-width {max-width: 30%;}
    
}


@media screen and (max-width: 25em) { /*400 pixlar / 16px = 25em */
    .display-sm-none {display: none !important;}
    .sm-display {display: block !important;}
    .d-flex-sm-column {flex-direction: column;}
    .align-center-sm {align-items: center;}
    .flex-order-sm {order: 3;}
    .display-sm-none-dropdwn {display: none;} /* NAMN UNDER DROPDOWN MENY FÖRSVINNER */
    .img-width {max-width: 40%;}

    .d-flex-sm-column-products {
        flex-direction: column;
        justify-content: center;
         align-items: center;}
    .discount {
        top: 0px;
        left: 0px;
        border-radius: 10%;
        border-radius: 100%;
        padding: 5x;
    }
}